<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>to do list </title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div class="box" id="heading">


  <h1><%= listTitle %></h1>
</div>
  <div class="box">

    <% listItems.forEach(function(listItem){ %>
      <form class="item"  action="/delete" method="post" >


        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= listItem._id%>" onchange="this.form.submit()">
             <p><%= listItem.name %></p>
           </div>
           <input type="hidden" name="listName" value="<%= listTitle %>"></input>
</form>
        <%  }); %>



    <form class="item" action="/" method="post">
      <input type="text" autocomplete="off" name="things_to_do" id="todo" placeholder="New item">

      <button type="submit" name="list" value=<%= listTitle %>>+</button>




    </form>
  </div>


</body>

</html>
